<robot name="end_effector.urdf">
    <link name="end_effector_link">
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/EndEffector.obj"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 3.141 0" /> <!--"0.125 0 0.078" rpy="0 3.141 0"-->
        </visual>
        <collision>
            <geometry>
                <box size="0.268 0.087 0.097" />
            </geometry>
            <origin xyz="0.011 0 0.1145" rpy="0 3.141 0" />
        </collision>
        <collision>
            <geometry>
                <box size="0.342 0.087 0.033" />
            </geometry>
            <origin xyz="0.011 0 0.0515" rpy="0 3.141 0" />
        </collision>
        
    </link>
</robot>