<robot name="end_effector.urdf">
    <link name="end_effector_link">
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/Gripper_fixed.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <origin xyz="-0.125 0 0.078" rpy="0 3.141 0" />
        </visual>
        <collision>
            <geometry>
                <box size="0.342 0.087 0.124" />
            </geometry>
            <origin xyz="0.011 0 0.1" rpy="0 3.141 0" />
        </collision>
    </link>
</robot>